@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
  font-size: 62.5%;
}
html,body {
  height: 100%;
}
:root{
  /* ===== Colors ===== */
  --body-color: #f2f2f2;
  --sidebar-color: #FFF;
  --primary-color: #695CFE;
  --primary-color-light: #a09bc8;
  --toggle-color: #DDD;
  --text-color: #707070;
  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}
body.dark{
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}