
/* Style for the chevron icon */
.dropdown-selectCbt {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    font-size: 1.4rem;
    color: gray;
    cursor: pointer;
    transition: transform 0.2s ease;
}
/* Style for the select-dropdown  */
.select-dropdown-cbt {
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    background-color: #fff;
    width: 25rem;
    /* margin-left: 1rem;  */
    position: absolute;
    /* left: 2%; */
    z-index: 1;
    opacity: 0;
    transform-origin: top center;
    font-size: 1.5rem;
    transform: scaleY(0);
    transition: opacity 0.2s, transform 0.2s ease;
}

/* Style for the select-options container */
.select-options-cbt {
    max-height: 150px;
    overflow-y: auto;
    padding: 0.5rem;
    margin: 0 0.59rem;
}
.option-container{
    padding-left: 1rem;
}
/* Style individual checkboxes and labels */
/* .select-options-cbt input[type="checkbox"] {
    margin: 0.2rem 0 0 0.5rem;
    padding: 0.3rem;
    cursor: pointer;
} */
/* Style the label text for checkboxes */
.select-options-cbt label {
    cursor: pointer;
}
/* Style the input field for selected values */
#selectedCBTs {
    width: 100%;
    height: 3rem;
    border: 1px solid #ccc;
    padding: 0.5rem;
    font-size: 1.4rem;
    background-color: #fff;
    border-radius: 0.3rem;
    cursor: pointer;
    border: none;
    outline: none;
}
/* .servicesPrice{
    display: none; 
    margin:0 0 0 2.4rem;
    font-size:1.3rem; 
    color:blue ;
}
.servicepriceinput{
    margin-bottom: 1px; 
    width:20rem;
} */

.CBT-dates{
    /* display: none;  */
    /* margin:0 0 0 2.4rem; */
    font-size:1.3rem; 
    color:blue ;
    /* overflow: hidden; */
 }
.cbtinput{
    margin: 0 0 1rem 0; 
    width:20rem;
    float: left;
}  
